.wrapper {
	padding: 20px;
	input {
		margin-right: 20px;
	}
	table {
		padding: 20px 0;
		border-collapse: collapse;
		margin-top: 30px;
		td {
			width: 70px;
			border: 1px groove #1c87c9;
		}
	}
}
