<div class="wrapper" [formGroup]="form">
	<ng-container *ngIf="city$ | async"></ng-container>
	<input type="text" formControlName="city" />
	<select name="select" formControlName="mode">
		<option *ngFor="let value of modeValues">{{ value }}</option>
	</select>
	<ng-container *ngIf="dailyForecast$ | async as dailyForecast">
		<table *ngIf="mode.value === Mode.DAILY">
			<tr *ngIf="dailyForecast.length > 0; else noResults">
				<td>{{ this.city.value }}</td>
				<td *ngFor="let column of dailyForecast">{{ column.temp?.day }}</td>
			</tr>
		</table>
		<ng-template #noResults>No Results For Daily Forecast</ng-template>
	</ng-container>
	<ng-container *ngIf="hourlyForecast$ | async as hourlyForecast">
		<table *ngIf="mode.value === Mode.HOURLY">
			<tr *ngIf="hourlyForecast.length > 0; else noResults">
				<td>{{ this.city.value }}</td>
				<td *ngFor="let column of hourlyForecast | filterPipe">{{ column.temp }}</td>
			</tr>
		</table>
		<ng-template #noResults>No Results For Hourly Forecast</ng-template>
	</ng-container>
</div>
